* {
  margin: 0;
  padding: 0;
}

body {

}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
}

.control {
}

h1 {
}